.header
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.h
{
height:250px;
width:1000px;
}
.logo
{
height:250px;
width:300px;
float:left;}
.name
{
height:250px;
width:700px;
float:right;
background-color:#FF99FF;
}
.n
{
height:50px;
width:100px;
position:relative;
top:120px;
left:200px;
font-size:36px;
}
.menu
{
height:50px;
width:1000px;
float:left;
background-color:#000000;
}
.menu ul li
{
display:inline;
padding:50px;
}
.menu ul li a
{
text-decoration:none;
color:#FFFFFF;
}
.footer
{
height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#CCFFFF;
}

.f
{
height:100px;
width:1000px;
position:relative;
top:35px;
left:370px;
font-size:22px;
font-style:italic;
}
.home
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
}
.service
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
font-size:26px;
text-align:center;
}
.service tr:hover
{
background-color:#FFCCFF;
}
.about
{
height:500px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#000000;
}
.img1
{
float:left;
}
.img2
{
float:left;
}
.img3
{
float:right;
}
.img4
{
float:left;
}
.img5
{
float:left;
}
.img6
{
float:right;
}
.contact
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
text-align:center;
font-size:19px;
background-color:#CCCCCC;
}
.map
{
text-align:center;
float:left;
}
.address
{
height:150px;
width:1000px;
float:left;
background-color:#FFFF66;
}
.condetails
{
height:100px;
width:1000px;
background-color:#999999;
}
.register
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
font-size:19px;
background-color:#FFCCCC;
text-align:center;
}